@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans.ttf");
}
body, html {
    margin: 0;
    padding: 0;
    background-color: #e4b57d;
}
#header {
    background-repeat: no-repeat;
    width: 1100px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
#container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAF0E6;
}
h1 {
    margin: 0;
    text-align: center;
    font-family: OpenSans;
    color: white;
    text-shadow: 4px 2px black;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    padding-top: .5em;
    font-size: 2em;
    font-family: Georgia;
}
#footer {
    height: 40px;
    width: 1100px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#container p{
    font-family: Mukta, sans-serif;
    line-height: 1.5em;
}
#citation {
    padding-top: 10px;
    margin: 0;
    font-style: italic;
}
.clearfloat {
    clear: both;
}
#nav-wrapper {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f3daba;
    font-family: Mukta, sans-serif;
}
#nav {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#nav a {
    width: 200px;
    display: block;
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: slategrey;
    border-bottom: 2px solid #f3daba;
    font-family: Georgia;
}
#nav a:hover, #nav #active-nav {
    color: black;
    border-bottom: 2px solid black;
}
#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #f3daba;
}
#nav ul ul{
    position: absolute;
    top: 48px;
    left: 0px;
    display: none;
    z-index: 1;
}
#nav li:hover > ul{
    display: block;
}